name: Trigger Buildkite on PR Sync

on:
  pull_request:
    types: [synchronize]

jobs:
  trigger-buildkite:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Buildkite Build
        uses: buildkite/trigger-pipeline-action@v2.4.1
        with:
          buildkite_api_access_token: ${{ secrets.BUILDKITE_API_TOKEN }}
          pipeline: "${{ vars.BUILDKITE_ORG_SLUG }}/${{ vars.BUILDKITE_PIPELINE_SLUG }}"
          branch: ${{ github.event.pull_request.head.ref }}
          commit: ${{ github.event.pull_request.head.sha }}
          message: ":github: PR #${{ github.event.pull_request.number }} sync"
          send_pull_request: true
